<div class="page-header">
  <div class="page-header-left">
    <mat-icon aria-hidden="false" aria-label="Menu icon" fontIcon="menu"></mat-icon>
  </div>
  <div class="page-header-center">
    <mat-icon aria-hidden="false" aria-label="Menu icon" fontIcon="cloud_queue"></mat-icon>
  </div>
  <div class="page-header-right">
    <mat-icon aria-hidden="false" aria-label="Profile icon" fontIcon="search"></mat-icon>
    <mat-icon aria-hidden="false" aria-label="Profile icon" fontIcon="notifications_none"></mat-icon>
    <mat-icon aria-hidden="false" aria-label="Profile icon" fontIcon="face"></mat-icon>
  </div>
</div>
